# Database Configuration
SUPABASE_DB_URL=postgresql://postgres.<URL>:<PASSWORD>@aws-1-us-east-2.pooler.supabase.com:6543/postgres
SUPABASE_API_KEY=api_key_here

# Polygon.io API Configuration
POLYGON_API_KEY=api_key_here

# Email Configuration
SENDER_EMAIL=sender_email_address
EMAIL_PASSWORD=email_password
RECIPIENT_EMAIL=recipient_email_address
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465